.nav-wrapper {
  display: flex;
  justify-content: space-between;
  height: 10vh;
}
.nav-left {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 2rem;
}
.nav-name {
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}
.nav-right {
  display: flex;
  flex: 1; /* It'll grow to available width */
  justify-content: center;
  align-items: center;
}
.nav-right ul {
  list-style-type: none;
  display: flex;
}
.nav-right li {
  margin-right: 4rem;
}
.nav-right li:hover {
  color: var(--orange);
  cursor: pointer;
}
