#services{
    display: flex;
    height: 1000px;
}
.left.s-awesome{
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: bold;
}
.left.s-awesome > :nth-child(1){
    font-size: 2.5rem;
    color: var(--black);
    margin-top: 8rem;
    font-weight: bold;
}
.left.s-awesome > :nth-child(2){
    font-size: 2.5rem;
    color: var(--orange);
}
.left.s-awesome > :nth-child(3){
    color: var(--gray);
    margin-bottom: 1.2rem;
}
.s-btn{
    width: 8rem;
    margin-top: 5rem;
}
.s-cards{
    position: relative;
}
.s-cards > *{
    position: absolute;
}
